<% if(success && success.length) { %>
    <div class="d-flex justify-content-center">
        <div class="alert alert-success text-center mt-1">
            <span class="me-5"><%= success %></span>
            <span class="btn btn-close float-end " data-bs-dismiss="alert"></span>
        </div>
    </div>
<% } %>
<% if(error && error.length) { %>
    <div class="d-flex justify-content-center">
        <div class="alert alert-danger text-center mt-1">
            <span class="me-5"><%= error %></span>
            <span class="btn btn-close float-end ms" data-bs-dismiss="alert"></span>
        </div>
    </div>
<% } %>