# Node.js dependencies
node_modules/

.vercel
.vercel/
# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build files
dist/
build/
coverage/

# Temporary files
*.tmp
*.temp
*.bak
.vercel
